@{
    ViewBag.Title = "Home Page";
}

<div id="container">
<div class="jumbotron">
    <h1>Hello India!</h1>
    <p class="lead">Azure Webinar Series</p>
</div>
    <img src="https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiUvd3XvP7fAhWHbX0KHbleAAIQjRx6BAgBEAU&url=https%3A%2F%2Fstackify.com%2Fazure-managed-service-providers%2F&psig=AOvVaw3tbhwU2jYkDJSEKiLYQ77J&ust=1548146338200603" alt="" />
</div>

<!-- <div class="row">
    <div class="col-md-4 text-center">
        <p><a class="btn btn-lg btn-danger" href="~/ProduceError/500">500 Error</a></p>
    </div>
    <div class="col-md-4 text-center">
        <p><a class="btn btn-lg btn-warning" href="~/ProduceError/404">404 Not Found</a></p>
    </div>
    <div class="col-md-4 text-center">
        <p><div class="btn btn-lg btn-success" id="logsButton">Produce Logs</div></p>
    </div>
</div>

@section scripts {
<script>
    $(function() {
        $("#logsButton").click(function() {
            $.get("@Url.Action("ProduceLogs", "Home")");
        });
    });
</script>
} -->

<script type="text/javascript">
(function() {

var img = document.getElementById('container').firstChild;
img.onload = function() {
    if(img.height > img.width) {
        img.height = '50%';
        img.width = 'auto';
    }
};

}());
</script>
